version: '3.8'

services:
  backend:
    build: ./backend
    # ports:
    #   - "8000:8000" # Exposed via Nginx
    volumes:
      - ./backend/database.db:/app/database.db
    environment:
      - INFLUX_HOST=http://host.docker.internal:8086
      - INFLUX_USER=alarmread
      - INFLUX_PASSWORD=mojenoveheslo
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: http://34.134.140.126/api
    # ports:
    #   - "3000:3000" # Exposed via Nginx
    environment:
      - NEXT_PUBLIC_API_URL=http://34.134.140.126/api
    depends_on:
      - backend
    restart: always

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    restart: always
